.App {
  text-align: center;
  background-color: rgb(138, 36, 36);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.counter{
  color: white;
}

.NavLink1{
  text-decoration: none;
  color: white;
  font-family: roboto;
}

@media (max-width: 899px){
  .NavLink1{
    color:rgb(41, 41, 41);
  }
}

.prod-img{
  margin-top: 1rem;
  max-width: 25rem;
  border-radius: 4px;
}

.item-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;

}
.item-qty{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  background-color: rgb(33 33 33);
  border: 1px rgb(68, 68, 68) solid;
  border-radius: 0.2rem;
  padding: 0rem;
  margin-bottom: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.info-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.prod-div{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;

}

.LoadrContainer{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.Detail-Container{
  height: 100vh;
}
.CartContainer{
  height: 100vh;
  display: flex;
  align-items: center;
 
  flex-direction: column;
}

.Cart-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.CartImage{
  width: 5rem;
  height: auto;
  border-radius: 1rem;
}
.cartInfo{
  display: flex;
  align-items: center;
}
.Cart-empty__img{
  width: 10rem ;
  height: auto;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
.cartCuantity{
  background-color: rgb(223, 47, 47);
  border-radius: 50%;
  font-size: .7rem;
  padding: .1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cart-Widget{
  color:#ECE8E1;
  text-decoration: none;
}

.Cart-Widget:hover{
  color: #bb7dfb;
  transform: scale(1.2);
  transition: .6s;
}
.LoadingText{
  color: #8d28f6;
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
}
.FooterBg{
 background-color: #282c34;
 width: auto;
 height: 30vh;
 display: flex;
 align-items: center;
 padding: 1rem;
 overflow: hidden;
 justify-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
