.App {
  text-align: center;
  background-color: rgb(138, 36, 36);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.counter{
  color: white;
}

.NavLink1{
  text-decoration: none;
  color: white;
  font-family: roboto;
}

@media (max-width: 899px){
  .NavLink1{
    color:rgb(41, 41, 41);
  }
}

.prod-img{
  margin-top: 1rem;
  margin-right: 1rem;
  max-width: 25rem;
  border-radius: 4px;
}

.item-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;

}
.item-qty{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  background-color: rgb(33 33 33);
  border: 1px rgb(68, 68, 68) solid;
  border-radius: 0.2rem;
  padding: 0rem;
  margin-bottom: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.info-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
}
.prod-div{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;

}

@media (max-width: 899px){
  .prod-div{
   flex-direction: column;

  }
  .prod-img{
    max-width: 10rem;
    height: auto;
  }
  .info-div{
    flex-direction: column;
    height: 60vh;
    width: 60vw;
  }
  .prod-div{
    height: 90vh;
  }
  .cartBtns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 591px){
  .info-div{
    font-size: small;
    font-weight: 600;
  }
}

.LoadrContainer{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.Detail-Container{
  height: 100vh;
  display: flex;
  align-items: center;
}
.CartContainer{
  height: 100vh;
  display: flex;
  align-items: center;
 
  flex-direction: column;
}

.Delete{
  color:#000000;
  text-decoration: none;
}

.Cart-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.CartImage{
  width: 5rem;
  height: auto;
  border-radius: 1rem;
}
.cartInfo{
  display: flex;
  align-items: center;
}
.Cart-empty__img{
  width: 10rem ;
  height: auto;
  padding-bottom: 1rem;
  border-radius: 2rem;
}
.cartCuantity{
  background-color: rgb(223, 47, 47);
  border-radius: 50%;
  font-size: .7rem;
  padding: .1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Cart-Widget{
  color:#ECE8E1;
  text-decoration: none;
}

.Cart-Widget:hover{
  color: #bb7dfb;
  transform: scale(1.2);
  transition: .6s;
}
.LoadingText{
  color: #8d28f6;
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
}
.checkout{
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.succesIcon{
  width: 5rem;
  height: auto;
  margin-bottom: 1rem;
}


.imput_form{
  width: 25rem;
  height: 2.5rem;
  border:none;
	border-bottom: 3px solid rgb(41, 41, 41);
	background: transparent;
	color: rgb(10, 10, 10);
	font-weight: 400;
  margin-bottom: 1rem;
}

.imput_form:focus{
	background: linear-gradient(to bottom, transparent, rgb(247, 210, 244));
	outline:none;
	border-bottom: 0.3rem solid rgb(61, 61, 61);
}

.buy{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buyfn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FooterBg{
 background-color: #282c34;
 width: auto;
 height: 30vh;
 display: flex;
 align-items: center;
 padding: 1rem;
 overflow: hidden;
 justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
